---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import {
  Github,
  X as Twitter,
  Css3,
  Html5,
  Javascript,
  Typescript,
  Astro as Astrodotdev,
  Svelte,
  React,
  Nextdotjs,
  Vite,
  Neovim,
  Rust,
  Go,
  Zig,
  C,
  Cplusplus,
  Python,
  Webassembly,
} from "simple-icons-astro";
---

<Layout title="Barra Ihsan">
  <Navbar />
  <main class="container mx-auto mt-32 md:mt-[30vh] px-5 sm:px-12">
    <div class="flex flex-col gap-10 relative">
      <div class="font-extrabold">
        <h1 class="text-4xl font-extrabold md:text-6xl 2xl:text-8xl">Hello!</h1>
        <h1 class="text-[2.5rem] font-extrabold md:text-7xl 2xl:text-9xl">
          I'm Barra 👋
        </h1>
      </div>

      <p class="text-md md:text-3xl 2xl:text-4xl md:mt-5">
        I'm a Front-End developer, currently interested at making useful website
        and CLI tools using Rust.
      </p>

      <div class="flex gap-4 md:gap-8">
        <a href="https://github.com/barraIhsan" target="_blank">
          <Github
            class="size-7 fill-gray-50 transition-colors hover:fill-gray-300 md:size-12"
          />
        </a>

        <a href="https://twitter.com/barrsan_" target="_blank">
          <Twitter
            class="size-7 fill-gray-50 transition-colors hover:fill-gray-300 md:size-12"
          />
        </a>
      </div>

      <!-- Mesh Gradient Background-->
      <div
        class="absolute left-[-15%] top-[-30%] h-[60%] w-1/3 rounded-full bg-indigo-500/20 blur-3xl pointer-events-none"
      >
      </div>
      <div
        class="absolute left-[10%] top-[-30%] h-[150%] w-1/3 rounded-full bg-indigo-500/20 blur-3xl pointer-events-none"
      >
      </div>
    </div>
  </main>
  <section class="container mx-auto px-5 sm:px-12 mt-32 md:mt-52">
    <h2 class="text-2xl md:text-5xl font-bold">What I work with</h2>
    <div class="flex flex-wrap mx-auto justify-center sm:justify-start xl:justify-between gap-6 md:gap-9 2xl:gap-12 mt-12 max-w-96 sm:max-w-none">
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Html5 class="size-7 md:size-12" />
        <span>HTML</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Css3 class="size-7 md:size-12" />
        <span>CSS</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Javascript class="size-7 md:size-12" />
        <span class="hidden sm:inline">JavaScript</span>
        <span class="inline sm:hidden">JS</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Typescript class="size-7 md:size-12" />
        <span class="hidden sm:inline">TypeScript</span>
        <span class="inline sm:hidden">TS</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Astrodotdev class="size-7 md:size-12" />
        <span>Astro</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Svelte class="size-7 md:size-12" />
        <span>Svelte</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <React class="size-7 md:size-12" />
        <span>React</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Nextdotjs class="size-7 md:size-12" />
        <span class="hidden sm:inline">Next.js</span>
        <span class="inline sm:hidden">Next</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Vite class="size-7 md:size-12" />
        <span>Vite</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Neovim class="size-7 md:size-12" />
        <span class="hidden sm:inline">Neovim</span>
        <span class="inline sm:hidden">Nvim</span>
      </div>
    </div>

    <h2 class="text-xl md:text-4xl font-bold mt-16 md:mt-32">
      Currently interested in
    </h2>
    <div class="flex flex-wrap mx-auto justify-center sm:justify-start xl:justify-between gap-6 md:gap-8 2xl:gap-12 mt-6 md:mt-12 max-w-72 sm:max-w-none">
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Rust class="size-7 md:size-12" />
        <span>Rust</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Go class="size-7 md:size-12" />
        <span>Go</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Zig class="size-7 md:size-12" />
        <span>Zig</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <C class="size-7 md:size-12" />
        <span>C</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Cplusplus class="size-7 md:size-12" />
        <span>C++</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Python class="size-7 md:size-12" />
        <span>Python</span>
      </div>
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-5 items-center font-semibold sm:text-3xl md:text-4xl">
        <Webassembly class="size-7 md:size-12" />
        <span>WASM</span>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
