---
const year = new Date().getFullYear();
---

<footer
  class="container mx-auto flex flex-col items-center mt-24 md:mt-44 py-8 md:py-12 border-t border-gray-600 text-xs sm:text-sm md:text-lg"
>
  <p>&copy; {year} Barra Ihsan</p>
  <p>
    Built with ❤️ using <a
      href="https://astro.build"
      target="_blank"
      class="underline">Astro</a
    >.
  </p>
</footer>
