<nav class="container mx-auto mt-8 md:mt-16 px-5 sm:px-12">
  <ul class="flex gap-6 md:gap-12 text-md md:text-2xl">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
