---
import { Github } from "simple-icons-astro";
import Twitter from "../components/Twitter.astro";
let pathname = Astro.url.pathname;
---

<nav
  class="fixed inset-x-0 top-0 py-8 md:py-16 transition-[padding] duration-500"
>
  <div
    class="container mx-auto flex justify-between items-center px-5 sm:px-12"
  >
    <a class="text-3xl font-extrabold hidden lg:block" href="/">Barra</a>
    <ul class="flex gap-6 md:gap-12 text-base sm:text-xl md:text-2xl">
      <li>
        <a
          href="/"
          class={pathname == "/"
            ? "font-semibold"
            : "text-gray-500 transition-colors duration-300 hover:text-gray-300"}
          >Home</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class={pathname.startsWith("/projects")
            ? "font-semibold"
            : "text-gray-500 transition-colors duration-300 hover:text-gray-300"}
          >Projects</a
        >
      </li>
      <li>
        <a
          href="/blogs"
          class={pathname.startsWith("/blogs")
            ? "font-semibold"
            : "text-gray-500 transition-colors duration-300 hover:text-gray-300"}
          >Blogs</a
        >
      </li>
    </ul>
    <div class="flex gap-4 md:gap-8">
      <a href="https://github.com/barraIhsan" target="_blank">
        <Github
          class="size-5 md:size-8 fill-gray-50 transition-colors hover:fill-gray-30"
        />
      </a>

      <a href="https://twitter.com/barrsan_" target="_blank">
        <Twitter
          class="size-5 md:size-8 fill-gray-50 transition-colors hover:fill-gray-300"
        />
      </a>
    </div>
  </div>
</nav>

<script>
  const nav = document.querySelector("nav");
  let scrollPos: number;

  let bigNav = ["py-8", "md:py-16"];

  let smallNav = [
    "py-4",
    "md:py-6",
    "bg-gray-900/70",
    "backdrop-blur-lg",
    "z-50",
  ];

  window.addEventListener("scroll", () => {
    scrollPos = window.scrollY;
    if (scrollPos <= 100) {
      nav.classList.add(...bigNav);
      nav.classList.remove(...smallNav);
    } else {
      nav.classList.add(...smallNav);
      nav.classList.remove(...bigNav);
    }
  });
</script>
