---
const { frontmatter } = Astro.props;
const date = frontmatter.pubDate.slice(0, 10);

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="My blog posts - Barra Ihsan">
  <Navbar />
  <main class="px-5 mt:px-12 mt-32 md:mt-60">
    <article class="prose mx-auto prose-invert md:prose-lg lg:prose-xl">
      <header>
        <em>Published <time datetime={date}>{date}</time></em>
        <h1>{frontmatter.title}</h1>
      </header>
      <section>
        <slot />
      </section>
    </article>
  </main>
  <Footer />
</Layout>
