---
const { title } = Astro.props;
---
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />

  <meta property="og:title" content="My Portfolio">
  <meta property="og:description" content="Just another human being who loves technology">
  <meta property="og:url" content="https://barraIhsan.github.io/">
  <meta property="og:image" content="https://barraihsan.github.io/favicon.jpeg">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Barra Ihsan">
  <meta name="theme-color" content="#007EFF">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

  <title>{title}</title>
</head>

<body class="bg-gray-900 text-gray-50">
  <slot />

  <script>
    twemoji.parse(document.body, {
      folder: 'svg',
      ext: '.svg',
      className: 'inline size-[1em] align-[-0.1em] mx-[.07em] select-none'
    });
  </script>
</body>

</html>
