---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpeg" />

		<meta property="og:title" content="My Portfolio">
		<meta property="og:description" content="Just another human being who loves technology">
		<meta property="og:url" content="https://barraIhsan.github.io/">
		<meta property="og:image" content="https://barraihsan.github.io/favicon.jpeg">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Barra Ihsan">
		<meta name="theme-color" content="#007EFF">

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>